{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="{% static "int_angular.js" %}"></script>
</head>
<html>
<body ng-app="order">
<div class="container" ng-controller="UserInfoCtrl">
    <h2>Scores</h2>
    <h3>{[{scores[0].score}]}</h3>
    <div class="row row-centered">
        <div ng-controller="OrderListCtrl" class="col-md-2 col-md-offset-5 text-center">
            <div ng-repeat="order in orders">
                <button ng-click="complete(order)" type="button" class="btn-lg btn-primary">{[{order.cost}]}</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>